{%extends './list.html'%}
{%block title%}
Book Details
{%endblock%}
{%block contain%}
{%for book in books%}
    <div class="card w-25">
      <img src="{{book.img_url}}" class="card-img-top w-100" style="height: 250px;" alt="{{book.name}}">
      <div class="card-body">
        <h5 class="card-title">{{book.name}}</h5>
        <p class="card-text">{{book.description}}</p>
      </div>
      <div class="card-body">
        <a href="{{book.show_url}}" class="card-link btn btn-primary">Show Book</a>
        <a href="{{url_for('book.create')}}" class="card-link btn btn-primary">Add Book</a>
      </div>
    </div>

{%endfor%}
{%endblock%}